

<div class="container px-5 px-sm-0">
<div class="row mx-auto">
<div class="col-md-3">
<div>
 <%= render 'users/user', user: @bok, bok: @bok %>
</div>
<div>
<%= render 'books/list', book: @book %>
</div>
</div>
<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table">
   <tbody>
        <tr>
        <td><%= image_tag @books.user.get_profile_image(100,100) %></br>
        <%= link_to @books.user.name, user_path(@bok) %>
        </td>
        <td><%= link_to @books.title, book_path(@books.id) %></td>
        <td><%= @books.body %></td>
        <% if @books.user == current_user %>
        <td><%= link_to "Edit", edit_book_path(@books.id), class:"btn btn-success btn-sm"%></td>
        <td><%= link_to "Destroy", book_path(@books.id), class:"btn btn-danger btn-sm", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        <% end %>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>